<div class="page">

  <div class="header">
    <h2>Departments</h2>
    <app-button (click)="openCreate()">Add Department</app-button>
  </div>

  <app-loader *ngIf="loading"></app-loader>
  <div *ngIf="error" class="error">{{ error }}</div>

  <app-table *ngIf="!loading"
             [data]="departments"
             [columns]="['id', 'name', 'code']">

    <ng-template let-item>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.code }}</td>
      <td>
        <app-button (click)="openEdit(item)">Edit</app-button>
        <app-button (click)="delete(item.id)">Delete</app-button>
      </td>
    </ng-template>

  </app-table>

  <!-- Pagination -->
  <div class="pagination">
    <button *ngFor="let p of [].constructor(totalPages); let i = index"
            (click)="changePage(i)">
      {{ i + 1 }}
    </button>
  </div>

</div>

<!-- MODAL -->
<app-modal *ngIf="showModal" (close)="showModal = false">

  <form [formGroup]="form" (ngSubmit)="submit()">

    <form-input label="Name" formControlName="name"></form-input>
    <form-input label="Code" formControlName="code"></form-input>

    <app-button type="submit">Save</app-button>

  </form>

</app-modal>
